@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: #525252;
    color: #555555;
}

 html, section {
   margin:0;
   padding:0;
   height:100%;
    
}
   
 /*---------------header----------*/
 .left-from-logo {
     background-color: red;
     margin: auto;
 }

 .logo {
     background-color: rgb(78, 78, 248);
     text-align: center;
     padding-left: 0;
     padding-right: 0;
     margin: 0;
 }

 .right-from-logo {
     background-color: green;
      margin: auto;
 }
 
.orange-color{
    background-color: orange;
}
 li {
     list-style: none;
     display: inline;
 }
a{
    text-decoration:none                    /*removing underscores form links*/
}         
 span, h3 {
     font-family: 'Boogaloo', cursive;
     font-size: 30px;
 }
 
.content-end{
    justify-content: flex-end;
}
.content-start{
    justify-content: flex-start;
}
 /*--------------Logo------------*/
 .responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
 }
/*---------------section----------*/
 
.big-pic {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.black-white-pic {
    max-width: 100%;
    height: auto;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 50%;
} 
.under-image-section{
    margin: 0;
    padding: 0;

    
}
.section-text{
    background-color: lightgray;
}

/*----------footer-------------------*/
footer{
  background-color:#f5720d;
  color:#FFFFFF;
  text-align: center;
  width:100%;
  min-height: 100px;
  margin: 0;
   
   
}
/*----------media-queries---------------*/
@media(max-width: 860px) {
li {
     list-style: none;
     display: block;
}
}

 @media(max-width: 575px){
.content-end{
    justify-content:center;
}
.content-start{
    justify-content:center;
}
.left-from-logo {
  order: 2;
  }
.logo {
  order: 1;
  }
.right-from-logo {
  order: 3;
  }
}