@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Boogaloo:100,200,300,400,500,600,700');

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: whitesmoke;
    color: black;
}

html, body {
   margin:0;
   padding:0;
   height: 100%;
}

section{
    min-height: 100vh;
}

 /*----------------------------header-------------------*/
 .left-from-logo {
     background-color:#789F8A;
     margin: auto;
 }

 .logo {
     background-color:#789F8A;
     text-align: center;
     padding-left: 0;
     padding-right: 0;
     margin: 0;
 }
 
 .right-from-logo {
     background-color:#789F8A;
      margin: auto;
 }
 
.header-color{
    background-color:#789F8A;
 }

.header-li {
     list-style: none;
     display: inline;
 }

a{
    text-decoration:none;                    /*removing underscores form links*/
}         

span, h3 {
     font-family: 'Boogaloo', cursive;
     font-size: 30px;
     color: #0A373A;
 }
 
a :hover{
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    color: #4ccb87;
    text-shadow: 0 0 15px rgb(55, 14, 100);
    transform: scale(1.05);
}

.content-end{
    justify-content: flex-end;
}

.content-start{
    justify-content: flex-start;
}

/*-----------------------------Logo----------------------*/
 .responsive {
    width: 100%;
    max-width: 150px;
    height: auto;
 }

/*------------------------section-home-page---------------*/
.big-pic {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.black-white-pic {
    max-width: 100%;
    height: auto;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 50%;
} 

.under-image-section{
    max-width: 980px;
    margin: auto;
    padding: 0;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 20px;
}

.section-text1{
    background-color: rgb(198, 182, 166);
    margin-right: 5px;
    padding: 0;
}

.section-text2{
    background-color: #DEB853; 
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    
}

.section-text3{
    background-color: #C1666B; 
    margin-left: 5px;
    padding: 0;
}

#icon-nowrap{
    white-space: nowrap;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
}

.far{
    font-size: 30px;
    color: #0A373A;
}

/*--------------------------section-band-page---------------------*/
.description{
    margin-top: 20px;   
}

.band{
    background-color: #FFFFFF;
    margin: 5px;
}

.image-float-left{
    float: left;
    margin: 5px;
}

.image-float-right{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

.band-description{
    margin-top: 1rem;
    vertical-align: end;
}

/*--------------------------section-discography-page---------------------*/
.first-row{
    margin-top: 20px;
    justify-content: center;
}

.album{
    background-color: #fdfbfb;
}

.album1{
    background-color: #cbc0c0;
}

.responsive-d{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.album, .album1{
    margin-top: 5px;
    margin-bottom: 5px;  
}

/*--------------------------section-multimedia-page----------------------*/
.text-at-top{
    margin-top: 15px;
    margin-bottom: 15px;
}

.embed-responsive{
    max-width: 400px;
    max-height: 300px;
    min-width: 200px;
    min-height: 150px;
    margin: auto;
}

.contact-background-multimedia{
    background-color: #DEB853;
    margin-top: 20px;
    margin-bottom: 15px;
}

.video{
    text-align: center;
}

.audio{
    text-align: center;
}

.text-at-bottom{
    margin-top: 30px;
    margin-bottom: 10px;
}

#multimedia-icon{
    font-size: 30px;
}

/*--------------------------section-contact-page-----------------------*/
.contact-background{
   background-color: #E06A4E;
   margin-top: 20px;   
}

.text-advert{
    margin-top: 20px;
}

h5{
    margin-top: 15px;
}

.uppercase{
    text-transform: uppercase;
}

.form{
    padding-top: 10px;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.btn{
    margin-bottom: 15px;
}

/*--------------------------------footer-----------------------------*/
footer{
  background-color:#789F8A;
  color:#FFFFFF;
  text-align: center;
  width:100%;
  min-height: 100px;
  margin: 0;
}

.green-img{
    margin-top: 5px;
}

.fab{
    font-size: 50px;
    margin-left: 10px;
}

.fa-facebook-square{
    color:#3B5998;
}

.fa-youtube-square{
    color:#ec2d2d;
}

.fa-twitter-square{
    color:#0d7db1;
}

/*------------------------------------media-queries-------------------------------*/
@media(max-width: 860px) {
ul, .header-li {
     list-style: none;
     display: block;
}
}

 @media(max-width: 767px){
.section-text1{
    margin-right: 0px;
    margin-bottom: 5px;
}
.section-text2{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}
.section-text3{
    margin-left: 0px;
}
.audio{
    margin-top: 50px;
    margin-bottom: 50px;
}
.form{
    max-width: 90%;
}     
}

 @media(max-width: 575px){
.left-from-logo {
  order: 2;
  justify-content: center;
  background-color: rgb(133, 140, 177);
  }
.logo {
  order: 1;
  justify-content: center;
  }
.right-from-logo {
  order: 3;
  justify-content: center
  }
.content-end{
    justify-content:center;
}
.content-start{
    justify-content:center;
}
}




