@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: #E4DFDA;
    color: black;
}

 html, body {
   margin:0;
   padding:0;
   height: 100%;
   
    
}
section{
    min-height: 100vh;
}
 /*---------------header----------*/
 .left-from-logo {
     background-color:#7680BB;
     margin: auto;
 }

 .logo {
     background-color:#7680BB;
     text-align: center;
     padding-left: 0;
     padding-right: 0;
     margin: 0;
 }

 .right-from-logo {
     background-color:#7680BB;
      margin: auto;
 }
 
.header-color{
    background-color:#7680BB;
}
.header-li {
     list-style: none;
     display: inline;
 }
a{
    text-decoration:none;                    /*removing underscores form links*/
}         
 span, h3 {
     font-family: 'Boogaloo', cursive;
     font-size: 30px;
     color: #19254D;
 }
 
.content-end{
    justify-content: flex-end;
}
.content-start{
    justify-content: flex-start;
}
 /*--------------Logo------------*/
 .responsive {
    width: 100%;
    max-width: 150px;
    height: auto;
 }
 
/*---------------section-home-page--------*/


.big-pic {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.black-white-pic {
    max-width: 100%;
    height: auto;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 50%;
} 
.under-image-section{
    max-width: 980px;
    margin: auto;
    padding: 0;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 20px;
}
.section-text1{
    background-color: rgb(198, 182, 166);
    margin-right: 5px;
    padding: 0;
}
.section-text2{
    background-color: #48A9A6; 
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    
}
.section-text3{
    background-color: #D4B483; 
    margin-left: 5px;
    padding: 0;
}
#icon-nowrap{
    white-space: nowrap;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: black;
}
.far{
    font-size: 30px;
}
/*----------------section-band-page--------------*/
.description{
    margin-top: 15px;
    margin-bottom: 15px;
}
.band{
    background-color: #FFFFFF;
    margin: 5px;
}
.image-float-left{
    float: left;
    margin: 5px;
}
.image-float-right{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}
.band-description{
    margin-top: 1rem;
    vertical-align: end;
}

/*----------------section-discography-page--------------*/
 
.first-row{
    margin-top: 10px;
    justify-content: center;
}
.album{
    background-color: #fdfbfb;
}
.album1{
    background-color: #cbc0c0;
}
.responsive-d{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.album, .album1{
    margin-top: 5px;
    margin-bottom: 5px;
   
}
/*---------------section-multimedia-page----------------*/
.embed-responsive{
    max-width: 400px;
    max-height: 300px;
    min-width: 200px;
    min-height: 150px;
    margin: auto;
}
.video{
    text-align: center;
}
.audio{
    text-align: center;
}
/*----------------section-contact-page------------------*/
.contact-background{
   background-color: #4357AD;
   margin-top: 20px;
    /* Center and scale the image nicely 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  */
}
.text-advert{
    margin-top: 20px;
}
h5{
    margin-top: 15px;
}
.uppercase{
    text-transform: uppercase;
}
.form{
    padding-top: 10px;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}
.btn{
    margin-bottom: 15px;
}
/*----------footer-------------------*/
footer{
  background-color:#7680BB;
  color:#FFFFFF;
  text-align: center;
  width:100%;
  min-height: 100px;
  margin: 0;
}


   
   

/*----------media-queries---------------*/
@media(max-width: 860px) {
ul, .header-li {
     list-style: none;
     display: block;
}
}
 @media(max-width: 767px){
.section-text1{
    margin-right: 0px;
    margin-bottom: 5px;
}
.section-text2{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}
.section-text3{
    margin-left: 0px;
}
.audio{
    margin-top: 50px;
    margin-bottom: 50px;
}
 }

 @media(max-width: 575px){

.left-from-logo {
  order: 2;
  justify-content: center;
  background-color: rgb(133, 140, 177);
  }
.logo {
  order: 1;
  justify-content: center;
  }
.right-from-logo {
  order: 3;
  justify-content: center
  }
.content-end{
    justify-content:center;

}
.content-start{
    justify-content:center;

}
}




span:hover{
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    color: rgb(183, 149, 241);
    text-shadow: 0 0 15px rgb(185, 133, 240);
transform: scale(1.05);
}
