@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: #fce7e7;
    color: #555555;
}

 html, section {
   margin:0;
   padding:0;
   height: 100%;
   
    
}
   
 /*---------------header----------*/
 .left-from-logo {
     background-color: red;
     margin: auto;
 }

 .logo {
     background-color: rgb(78, 78, 248);
     text-align: center;
     padding-left: 0;
     padding-right: 0;
     margin: 0;
 }

 .right-from-logo {
     background-color: green;
      margin: auto;
 }
 
.orange-color{
    background-color: orange;
}
.header-li {
     list-style: none;
     display: inline;
 }
a{
    text-decoration:none;                    /*removing underscores form links*/
}         
 span, h3 {
     font-family: 'Boogaloo', cursive;
     font-size: 30px;
 }
 
.content-end{
    justify-content: flex-end;
}
.content-start{
    justify-content: flex-start;
}
 /*--------------Logo------------*/
 .responsive {
    width: 100%;
    max-width: 150px;
    height: auto;
 }
/*---------------section-home-page--------*/
 
.big-pic {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.black-white-pic {
    max-width: 100%;
    height: auto;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 50%;
} 
.under-image-section{
    max-width: 930px;
    margin: auto;
    padding: 0;
    justify-content: center;

    
}
.section-text1{
    background-color: lightgray;
    margin-right: 5px;
    padding: 0;
}
.section-text2{
    background-color: rgb(220, 170, 170); 
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    
}
.section-text3{
    background-color: rgb(137, 102, 182); 
    margin-left: 5px;
    padding: 0;
}
/*----------------section-band-page--------------*/
.band{
    background-color: #FFFFFF;
    margin: 5px;
}
.image-float-left{
    float: left;
    margin: 5px;
}
.image-float-right{
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}
.band-description{
    margin-top: 1rem;
    vertical-align: end;
}

/*----------------section-discography-page--------------*/
 
.first-row{
    margin-top: 10px;
    justify-content: center;
}
.album{
    background-color: #fdfbfb;

}
.responsive-d{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.album, .album1{
    margin-top: 5px;
    margin-bottom: 5px;
   
}
/*---------------section-multimedia-page----------------*/
.embed-responsive{
    max-width: 400px;
    max-height: 300px;
    min-width: 200px;
    min-height: 150px;
    margin: auto;
}
.video{
    text-align: center;
}
.audio{
    text-align: center;
}
/*----------------section-contact-page------------------*/
.contact-background{
    background-image: url("../images/concert.jpg");
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.uppercase{
    text-transform: uppercase;
}
.form{
    padding-top: 10px;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}
/*----------footer-------------------*/
footer{
  background-color:#f5720d;
  color:#FFFFFF;
  text-align: center;
  width:100%;
  min-height: 100px;
  margin: 0;
   
   
}
/*----------media-queries---------------*/
@media(max-width: 860px) {
ul, .header-li {
     list-style: none;
     display: block;
}
}
 @media(max-width: 767px){
.section-text1{
    margin-right: 0px;
    margin-bottom: 5px;
}
.section-text2{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}
.section-text3{
    margin-left: 0px;
}
.audio{
    margin-top: 50px;
    margin-bottom: 50px;
}
 }

 @media(max-width: 575px){

.left-from-logo {
  order: 2;
  }
.logo {
  order: 1;
  }
.right-from-logo {
  order: 3;
  }
.content-end{
    justify-content:center;

}
.content-start{
    justify-content:center;

}
}
